body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contentForm{
    padding: 70px;
    margin: 100px 150px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 20px;
}

p{
    text-align: justify;
}

input:focus{
    background-color: rgb(70, 70, 70);
    transition: 1s;
}

#form_user, #form_trainer, #ReturnOption, #GoToLogin{
    display: none;
}


#ReturnOption{
    margin-top: 0;
}

@media screen and (max-width:576px) {
    .contentForm{
        margin: 20px 20px;
    }
}
@media screen and (max-width:768px) {
    .contentForm{
        margin: 50px 70px;
    }
}