<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de BreakUs</title>
    <link rel="stylesheet" href="bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="MainPage.css">
</head>
<body>
    <div class="head">
        <header>
            <div class="content">
                <h1><b>BreakUs</b></h1>
                <h4><b>"La calidad no es un acto, sino un hábito". Aristóteles</b></h4>
                <p><b>Con nuestras rutinas, podrás alcanzar tus propios límites y romperlos, hazlo con <br> nosotros. ¿Qué esperas? ¡Suscríbete ahora!</b></p>
                <div class="btn">
                    <input id="btn1" class="btn" type="button" value="Registrarse"> &nbsp &nbsp &nbsp &nbsp &nbsp
                    <input id="btn2" class="btn" type="button" value="Iniciar sesión">
                </div>
            </div>
            <div class="image">
                <img src="imgs/Sin título-1.jpg">
            </div>
        </header>
    </div>
       
    <div class="info">
        <div class="whatIs">
            <h2 class="whatIsTitle"><b>¿Qué es BreakUs?</b></h2>
            <p class="whatIsText">
                Demuestra ser un espacio donde habrán rutinas que pongan a prueba nuestras capacidades
                físicas. Su finalidad es orientar a aquellos que requieran un entrenamiento bien
                estructurado, informado y sobre todo, efectivo. Lo mejor de todo, es que no necesitas mucho
                equipamiento profesional, debido a que este plan se basa en el entrenamiento desde casa.
            </p>
        </div>
        <hr>
        <div class="howToStart">
            <h2><b>¿Cómo puedo empezar?</b></h2>
                <p>
                    BreakUs es consciente de que todos empezamos por un mismo nivel, es decir, desde cero. Nuestros
                    planes se dividen en 3 categorias: 
                </p>
                <ul class="plans">
                    <li class="plan1">
                        <h2 class="plan1Title"><b>Novatos</b></h2>
                        Los novatos son aquellos que, o no han entrenado o tienen una frecuencia muy baja, lo cuál los 
                        lleva a  tener un rendimiento físico muy bajo. Si apenas estas iniciando o quieres recuperar tu
                        rendimiento, este es el plan para ti.
                    </li>
                    <li class="plan2">
                        <h2 class="plan2Title"><b>Promedios</b></h2>
                        Los promedios son aquellos que tienen cierta experiencia entrenando, y que han alcanzado un nivel
                        ciertamente elevado. Su rendimiento es considerablemente bueno y con una notable resistencia. Si 
                        eres de estos, este es el plan para ti.
                    </li>
                    <li class="plan3">
                        <h2 class="plan3Title"><b>Avanzados</b></h2>
                        Los avanzados, bueno, su nombre evidencia que son aquellos que su experiencia entrenando, así como
                        su nivel, son muy elevados y conllevan a ser profesionales en el ambiente fitness. Su rendimiento físico
                        es elevado al igual que su resistencia. Si te consideras así, este es el plan para ti.
                    </li>
                </ul>
                
                <p>
                    Cabe destacar, que todos nos destacamos en unas ramas mas que otros, es por ello que siendo promedio,
                    avanzado e inclusive novato, no implica que puedas dominar todo en el entrenamiento. El entrenar
                    tiene sus variaciones, y dependiendo de tus necesidades puedes, o tener una rebaja de tu sobrepeso y
                    poseer una definición física, o tener un crecimiento muscular.
                </p>
        </div>
        <hr>
        <div class="whatINeed">
            <h2 class="whatINeedTitle"><b>¿Qué necesito para llegar a alguno de estos niveles?</b></h2>
            <p class="whatINeedText">
                Basta con que consigas herramientas de entrenamiento básicas y caseras como una cuerda suficientemente 
                larga para que puedas saltar, algún objeto con un agarre con un peso considerable a tu fuerza, un bolso 
                con este mismo peso, y si es de tu disponibilidad, alguna barra con peso y otra en donde puedas hacer
                dominadas. Lo bueno y ventajoso de BreakUs, es que te ofrecemos variaciones para algunos ejercicios que 
                por alguno u otro motivo no puedas ejecutar por la falta de herramientas. Pero lo más importante, es la
                dedicación y esfuerzo que le tomes a tu rutina.
            </p>
        </div>
    </div>
    <div class="lowInfo">
        <footer>
            <p>Todos los derechos reservados a Joshua Rodríguez, interprete de este proyecto (c) 2022</p>
            <p><b>Información de contacto:
                correo: joshuleal3@gmail.com 
                tlf: +58424-7367072</b>
            </p>
        </footer>
    </div>
</body>
<script src="redirect.js"></script>
</html>