body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: black;
}

li, p {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    color: white;
    padding: 10px;
    margin: 20px;
}

li:hover, p:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

a:hover {
    color: black;
    transition: 1s;
}

li {
    position: relative;
    left: 40%;
}

li a {
    text-decoration: none;
    color: white;
}

li>ul {
    display: none;
}

li:hover>ul{
    display: block;
    position: absolute;
    padding: 0;
    top: 50px;
    left: 0;
    width: 200px;
}

